.button {
  background-color: $red;
  color: $white;
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  border-radius: 8px;
  padding: 0.65em 1.5rem 0.65rem;
  font-family: $montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4em;
}

.button:hover {
  background-color: $blue;
  color: #fff;
}

.button.is-secondary {
  border: 2px solid $red;
  color: $red;
  background-color: rgba(0 0 0 / 0%);
  padding-top: 0.6em;
  padding-bottom: 0.6rem;
}

.button.is-secondary:hover {
  border-color: $blue;
  color: $blue;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-text {
  color: $blue;
  background-color: rgba(0 0 0 / 0%);
  border: 2px solid rgba(0 0 0 / 0%);
}

.button.is-text:hover {
  color: $red;
}

.button.is-icon {
  grid-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-icon.is-bigger {
  padding: .9em 1.6rem .9rem;
  font-size: 18px;
}

.button.is-icon.is-white-shadowed:hover {
  background-color: $white;
  color: var(--black);
  box-shadow: 0 0 5px rgba(0 0 0 / 25%);
}

.button.is-icon.is-small {
  grid-gap: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.button.is-icon.is-smaller {
  grid-gap: 8px;
}

.button.is-icon.is-smaller.size-help {
  margin-top: 8px;
}

.button.is-icon.is-smaller-light {
  grid-gap: 8px;
}

.button.is-small {
  padding: .5rem 1.25rem;
  font-size: 14px;
  font-weight: 600;
}

.button.is-white {
  background-color: $white;
  color: $blue;
}

.button.is-white:hover,
.button.is-blue {
  background-color: $blue;
  color: $white;
}

.button.is-blue:hover {
  background-color: $red;
  color: $white;
}

.button.is-gray {
  background-color: $gray;
  color: $white;

  &:hover {
    background-color: $gray;
  }
}

.button.is-blue-alt {
  background-color: $blue;
  color: $white;
}

.button.is-blue-alt:hover {
  color: $red;
}

.button.paginate {
  min-width: 120px;
}

.button.is-white-shadowed {
  background-color: $white;
  color: $gray;
  box-shadow: 0 0 5px rgba(0 0 0 / 10%);
}

.button.is-white-shadowed:hover {
  color: $blue;
  box-shadow: 0 0 5px rgba(0 0 0 / 25%);
}

.button.is-smaller {
  padding: 6px;
  font-size: 12px;
  font-weight: 600;
}

.button.is-smaller-light {
  background-color: $white;
  color: $blue;
  padding: 6px;
  font-size: 12px;
}

.button.is-smaller-light:hover {
  background-color: $blue;
  color: $white;
}
