/* stylelint-disable no-descending-specificity */

header.banner {
  padding-top: 12px;
  padding-bottom: 12px;  
}

.main-logo-wrap {
  width: 110px;
  padding-left: 0;
}

.main-logo {
  height: 50px;
}

/* stylelint-enable no-descending-specificity */
